.menu-btn{

	magin-right: 20px;
}

.log{

font-weight: bold;
color: white;
text-decoration: none;
padding-right: 150px;


}

#navList li{
	
	display: inline;
}

.fixed-top{

	padding-left: 40px;
	padding-right: 40px;
}


